.container {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  min-height: 100vh !important;
  background-color: #f9fafb;
}

.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 8px;
}

.content {
  grid-column: span 5 / span 5;
  grid-row: span 5 / span 5;
}

/* Card Principal */
.cardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
}

/* Panel Izquierdo */
.leftPanel {
  width: 40%;
  height: 75vh;
  padding: 20px !important;
  text-align: left;
  color: white;
  background: linear-gradient(135deg, #ff8c42, #ff5e14);
  border-radius: 70px;
  display: block; /* Predeterminado: block */
  justify-content: center;
  align-items: center;
}

.leftPanel.d-md-flex {
  display: flex; /* Solo cuando la pantalla es mayor o igual a 'md' */
  justify-content: center;
  align-items: center;
}

.leftContent {
  width: 100%;
  max-width: 500px;
  margin: 0 auto !important;
}

.leftContent .title {
  all: unset; /* Elimina todos los estilos predeterminados */
  display: block;
  font-size: clamp(0.625rem, 2.5vw, 2.2rem);
  margin: 0 !important; /* Elimina márgenes predeterminados */
  padding: 0 !important; /* Por si hay padding no deseado */
  word-break: break-word;
  white-space: normal;
  line-height: 1.5;
  font-weight: bold;
}

.leftContent .title span {
  text-decoration: underline;
}

.leftContent .subtitle {
  margin-top: 1rem;
  font-size: clamp(0.625rem, 2.5vw, 1rem);
  word-wrap: break-word;
  word-break: break-word;
  white-space: normal;
  line-height: 1.5;
}

/* Panel Derecho */
.rightPanel {
  padding: 1rem !important;
}

.logoRegister {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px !important;
}

.logoRegister img {
  width: 50px;
  height: 50px;
  margin-right: 5px !important;
  border-radius: 50%;
  background-color: var(--bg-4);
}

.logoRegister h1 {
  width: 120px;
  font-family: Montserrat;
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  font-weight: 600;
  text-align: center;
  color: #333;
}

.welcomeText {
  font-family: Montserrat;
  font-size: clamp(1rem, 21.5vw, 2.2rem);
  font-weight: 600;
  margin-bottom: 10px !important;
  color: #333;
}

.customFormGroup {
  margin-top: 1rem !important;
  position: relative;
}

.customInputField {
  padding: 1rem 0.75rem !important;
}

.customInputField:focus {
  border-color: rgba(0, 0, 0, 0.3);
  box-shadow: none;
  outline: none;
}

.customFloatingLabel {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  transform: translateY(-50%);
  font-size: 1rem;
  color: #6c757d;
  pointer-events: none;
  transition: all 0.2s ease-in-out;
}

.customInputField:focus ~ .customFloatingLabel,
.customInputField:not(:placeholder-shown) ~ .customFloatingLabel {
  top: 0.0625rem !important;
  left: 0.5rem;
  font-size: 0.875rem;
  color: #495057;
  background-color: white;
  padding: 0 0.25rem !important;
}

.forgotPassword {
  color: #ff5e14;
  text-decoration: none;
}

.responseMessage {
  margin: 15px 0px 10px 0px !important;
  padding: 15px 5px !important;
  text-align: center;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.8);
  transition: all 1s ease;
}

.registerButton {
  background-color: #ff5e14;
  border: none;
  height: 45px;
  border-radius: 10px;
}

.registerButton:hover {
  background-color: #e65612;
}

.registerButton:active {
  background-color: #ff7b00 !important; /* Color de fondo cuando se presiona */
  border: none !important; /* Evita el borde predeterminado */
}

.socialButton {
  width: 120px;
  height: 45px;
  border-radius: 10px;
  font-weight: bold;
}

.signupLink {
  color: #ff5e14;
  font-weight: bold;
  text-decoration: none;
}
